<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <title>TinyApp</title>
  </head>
  <body>
    <form method="POST" action="/register" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
      <input id="email" type="email" name="email" placeholder="Email address" class="form-control" style="width: 150px" require autofocus>
      <input id="password" type="password" name="password" placeholder="Password" style="width: 150px" class="form-control" required><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>