<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <ul>
      <% for(var url in urls) {  %>
        <form method="POST" action=<%=`/urls/${url}/delete`%>>
          <li>
            <%= url %> - <a href=<%= `/u/${url}`%>> <%= urls[url] %> </a>
            <input type="submit" value="Delete">
          </li>
        </form>
      <% }; %>
    </ul>
  </body>
</html>