<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    Short URL: <b><%=shortURL%></b>
    <form method="POST" action=<%=`/urls/${shortURL}`%>>
      <input id="newURL" type="text" name="newURL" placeholder=<%=urls[shortURL].url%> style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>