<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <ul style = "list-style-type: none">
      <% for(var url in urls) {  %>
        <form method="POST" action=<%=`/urls/${url}/delete`%>>
          <li>
            <%= url %> &#8594 <a href=<%= urls[url]%>> <%= urls[url] %> </a> &nbsp;
            <input type="submit" value="Delete"><br><br>
          </li>
        </form>
      <% }; %>
    </ul>
  </body>
</html>