<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body>
    <ul>
      <% for(var url in urls) {  %>
        <form method="POST" action="/urls/9sm5xK/delete">
          <li><%= url %> - <%= urls[url] %> <button>DELETE</button> </li>
        </form>
      <% }; %>
    </ul>
  </body>
</html>